[type='range'] {
  -webkit-appearance: none;
  margin: 12px 0;
  width: 100%;
}

[type='range']:focus {
  outline: 0;
}

[type='range']:focus::-webkit-slider-runnable-track {
  background: #fbfbfc;
}

[type='range']:focus::-ms-fill-lower {
  background: #eceff1;
}

[type='range']:focus::-ms-fill-upper {
  background: #fbfbfc;
}

[type='range']::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 8px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #eceff1;
  border: 2px solid #cfd8dc;
  border-radius: 5px;
}

[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 8px rgba(232, 44, 42, 0.2);
  box-shadow: 0px 0px 0px 8px rgba(232, 44, 42, 0.2);
          background: #e82c2a;
  border: 2px solid #eceff1;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  margin-top: -15px;
}


