@media (max-width:500px)
{
    .footer{
        flex-direction: column;

    }
    .footer div{
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .description2{
        text-align: center;
    }
    .galerie{
        flex-direction: column;
    }
    .galerie div{
        width: 100%;
    }
    .galerie .img3, .galerie .img5 {
        width: 40%;
    }
    .quotes{
        background-attachment: initial;
    }
    .car-degre{
        height: auto;
    }
    .range-slider__range {
        width: 45%;
    }
}